.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
*.log
/.project
/.DS_Store
/.gradle/
/.settings/
/target/
/build/
/.factorypath
/.apt_generated/
/.idea
web-website.iml
src/.DS_Store
src/main/.DS_Store
/.springBeans
/.mvn
/.settings
.mvn/**
.settings/**