<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengql.mapper.ElectricMeterMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, meter, create_date AS createDate
	</sql>

	<delete id="deleteAll">
		DELETE FROM meter
	</delete>

	<select id="selectListByWrapper" resultType="com.chengql.entity.ElectricMeter">
		SELECT * FROM meter
		<!-- 判断 wrapper 是否为空 emptyOfWhere -->
		<where>
			${ew.sqlSegment}
		</where>
	</select>
</mapper>